div.navbar navbar-fixed
	div.navbar-inner
		div.fluid-container
			ul.nav
				li 
					a Who we are
				li 
					a Design Jam: Gender and Education

div.container
	div#hero-unit well
		h1 Super Secret Shares &amp; Sons
		h3 Missions Statements
		p Super Secret Shares & Sons is a design collective in Toronto, Canada. They are designers, futurists, and researchers working at the crossroad of post-gadget ambiguity and pre-ambient possibility. This is where they share their work.

		hr

	div#experiment.row
		div.span12
			h1 We are doing an experiment, could you help us out?
			h2 Are you a:
			div.row
				div.span4
					img(src="http://placehold.it/300x300")
				div.span4
					img(src="http://placehold.it/300x300")
				div.span4
					img(src="http://placehold.it/300x300")
					
				p You are a #{gender}

				div#input
					input#data(type='text')
					input#datasend(type='button', value='send')

					div#text

	div#designjam1.row
		div.span3
			p We did a design jam on
		div.span9
			h1 Gender and Education.
	div.row	
		div.span12
			ul.nav.pills
				li.active 
					a(href="#") Summary
				li 
					a(href="#") Problem
				li 
					a(href="#") Process
				li 
					a(href="#") Outputs
		div.row					
			h2 Summary
			p Summary

script(src="http://code.jquery.com/jquery-1.7.min.js")
script(src="javascripts/bootstrap-transition.js")
script(src="javascripts/bootstrap-dropdown.js")
script(src="javascripts/bootstrap-tab.js")
script(src="javascripts/bootstrap-scrollspy.js")
script(src="javascripts/bootstrap-tooltip.js")
script(src="javascripts/bootstrap-typeahead.js")
script(src="javascripts/init.js")