div.navbar.navbar-fixed
	div.navbar-inner
		div.fluid-container
			ul.nav
				li 
					a Who we are
				li 
					a Design Jam: Gender and Education

div.container
	div#hero-unit.well
		h1 Super Secret Shares &amp; Sons
		h3 Missions Statements
		p Super Secret Shares & Sons is a design collective in Toronto, Canada. They are designers, futurists, and researchers working at the crossroad of post-gadget ambiguity and pre-ambient possibility. This is where they share their work.

	div#experiment.row
		div.span12
			h1 We are doing an experiment, could you help us out?
			h2 Are you a:
			div#genderSel.row
				div#selMale.span4
					img(src="http://placehold.it/300x300&text=Male")
				div#selFemale.span4
					img(src="http://placehold.it/300x300&text=Female")
				div#selGq.span4
					img(src="http://placehold.it/300x300&text=GQ")

			div#genderWall
				div#input
					ul.unstyled
						li 
							input#data(type='text')
						li 
							input#datasend(type='button', value='send')

				ul#text.unstyled

	hr

	div#designjam1
		h3 We did a design jam on
		h1 Gender and Education.
		div.row	
			div.span12
				ul.nav.tabs
					li.active 
						a(href="#dj1sum", data-toggle="tab") Summary
					li 
						a(href="#dj1prob", data-toggle="tab") Problem
					li 
						a(href="#dj1proc", data-toggle="tab") Process
					li 
						a(href="#dj1out", data-toggle="tab") Outputs

				div.tab-content
					div.active#dj1sum.tab-pane.fade
						h2 Summary
						p Summary

					div#dj1prob.tab-pane.fade
						h2 The Problem Statement
						p Prob

					div#dj1proc.tab-pane.fade
						h2 Our Process
						p Proc
				
					div#dj1out.tab-pane.fade			
						h2 Our Output
						p Out

script(src="http://code.jquery.com/jquery-1.7.min.js")
script(src="javascripts/bootstrap-transition.js")
script(src="javascripts/bootstrap-dropdown.js")
script(src="javascripts/bootstrap-tab.js")
script(src="javascripts/bootstrap-scrollspy.js")
script(src="javascripts/bootstrap-tooltip.js")
script(src="javascripts/bootstrap-typeahead.js")
script(src="javascripts/jquery.masonry.min.js")
script(src="javascripts/init.js")